body {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.header{
    text-align: left;
}
.header__title {
    font-size: 3rem;
}

.ratings{
    padding-top: 80px;
    gap: 2rem;
}

.rating{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.rating:first-child{
    left: -75px;
}
.rating:last-child{
    left: 75px;
}

.rating__stars{
    margin-bottom: 0;
}

.rating__text{
    width: 70%;
    text-align: left;
    padding-left: 1rem;
}
.testimonials {
    grid-column: 1 / -1;
    justify-content: space-between;
    margin-top: 1rem;
}

.testimonial {
    width: 32%;
    position: relative;
}

.testimonial:nth-child(2){
    top: 25px;
}

.testimonial:last-child{
    top: 50px;
}